
.stockBox {
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 325px;
    height: 325px;
    border-radius: 15px 50px;
}

.stockBox:hover {
    color: orange;
    background: red;
}

.line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid   ;
    margin: 1em 0;
    padding: 0;
}

.stockButton {
    background-color: #3b3f47;
    border: none;
    color: white;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 10px;
    border-radius: 8px;
}

.binanceLink {
    color: #24A0ED;
    text-decoration: none;
}

.binanceLink:hover { /* hover github link */
    color: #3b3f47;
    text-decoration: underline;
}

.githubLink { /* github link */
    padding: 15px 15px;
    color: white;
    text-decoration: none;
    position: fixed;
    bottom: 0px;
    right: 0px;
}

.githubLink:hover { /* hover github link */
    color: gray;
    text-decoration: underline;
}

h1 {
    font-family: "Arial";
    font-weight: normal;
}

h2 {
    font-weight: bold;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: #2C5F2D;
}